* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans&display=swap");
.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.navbar-container > li,
a {
  text-decoration: none;
  list-style-type: none;
  color: white;
  font-size: 1rem;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  flex-wrap: wrap;
}
.main-container {
  margin-top: -60px;
  z-index: -999999;
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans", sans-serif;
  color: white;
  padding: 10%;
  background-color: #00023e;
  background-image: url("./images/main-bg11.png");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}
.about-container {
  width: 50%;
}
.card-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-evenly;
}
.card {
  width: 30%;
  height: 200px;
  background-color: white;
  margin-top: 1rem;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.card-img {
  width: 5vw;
}
.myButton {
  background-color: #44c767;
  border-radius: 2px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 15px;
  font-weight: bold;
  padding: 13px 32px;
  text-decoration: none;
}
.myButton:hover {
  background-color: #5cbf2a;
}
.myButton:active {
  position: relative;
  top: 1px;
}
@media only screen and (max-width: 600px) {
  .about-container {
    width: 90%;
  }
  .container {
    height: 80vh;
  }
  .card {
    width: 100%;
  }
  .card-img {
    width: 10px;
  }
  .main-container {
    flex-wrap: wrap;
    width: 100%;
    background-image: url("./images/main-sm-bg11.png");
  }
  .main-content {
    width: 100%;
  }
  .car-img {
    width: 55%;
    margin-top: 1rem;
  }
  .card-img {
    width: 15vw;
  }
}
