* {
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: "MyFontBold";
  src: url("./fonts/Quicksand-Bold.ttf");
}
@font-face {
  font-family: "MyFontLight";
  src: url("./fonts/Quicksand-Light.ttf");
}
@font-face {
  font-family: "MyFontMedium";
  src: url("./fonts/Quicksand-Medium.ttf");
}
@font-face {
  font-family: "MyFontRegular";
  src: url("./fonts/Quicksand-Regular.ttf");
}
@font-face {
  font-family: "MyFontSemi";
  src: url("./fonts/Quicksand-SemiBold.ttf");
}

body {
  font-family: "MyFontRegular";
  color: #4a4a4a;
}
.navbar-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
}
.navbar-container > li,
a {
  text-decoration: none;
  list-style-type: none;
  color: black;
  font-family: "Noto Sans", sans-serif;
}
.navlink {
  font-size: 1em;
  font-family: "MyFontBold";
}
.navlink > p:hover {
  color: #604dd5;
}
.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.main-container {
  height: fit-content;
}
.main-img-container {
  justify-content: center;
  display: flex;
}
.main-img-container > img {
  width: 50%;
}

.myButton {
  margin: 1vh 0 10vh 0;
  background-color: #604dd5;

  display: inline-block;
  width: 40%;
  color: #ffffff;
  font-family: "MyFontBold";
  text-decoration: none;
  line-height: 1.5rem;
  cursor: pointer;
  padding: 12px 15px;
  border-radius: 5px;

  box-shadow: 0 6px 10px 0 rgba(96, 77, 213, 0.15);
}
.big-title {
  font-family: "MyFontBold";
  font-size: 3rem;
  padding: 2rem 0;
  text-align: center;
}
.medium-title {
  color: #4a4a4a;
  text-align: center;
  padding: 15vh 0;
  font-size: 1.5rem;
  margin: 0 1rem;
}
.main-title {
  display: flex;
  padding: 0.3rem 0;
  font-size: 1rem;
}
.box {
  height: 42vh;
  width: 35%;
  margin: 1vh;
}
.box-container {
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}
.flex-box-container {
  align-items: center;
  justify-content: center;
}
.flex-box-container > img {
  max-width: 60%;
}
.flex-box-container > p {
  font-size: 19px;
}
.section-3 {
  background-color: #604dd5;
  height: 50vh;
  justify-content: center;
  color: white;
  text-align: center;
  padding: 0 10%;
}
.section-4 {
  height: 80vh;
  justify-content: space-evenly;
  display: flex;
  color: #4a4a4a;
  text-align: center;
  padding: 0 5%;
  background-color: #f2f2f2;
}
.feedback-section {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.feedback-box {
  width: 40%;
  padding: 1rem;
  text-align: center;
}
.rev-btn {
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .flex-box-container > img {
    max-height: 60%;
  }

  .main-img-container > img {
    width: 80%;
  }
  .myButton {
    width: 80%;
  }
  .medium-title {
    text-align: left;
    font-size: 1rem;
  }
  .box {
    width: 90%;
    height: 25vh;
  }
  .box-2 {
    height: fit-content;
    margin-bottom: 20vh;
  }
  .section-3 {
    padding: 10vh 5vw;
  }
  .feedback-section {
    flex-direction: column;
  }
  .feedback-box {
    width: 90%;
  }
}
